@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #FFFFFF;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1px; /* Adds space below the logo */
}

.logo-img {
  width: 100px; /* Adjust width to desired size */
  height: auto; /* Maintain the aspect ratio */
}

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #5D3FD3;
}

.navbar h1 {
  color: #5D3FD3;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #5D3FD3;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.mood-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #5D3FD3;
}

.mood-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.mood-preview h2 {
  font-size: 20px;
  color: #5D3FD3;
  margin-bottom: 8px;
}

.styled-button {
  background-color: #5D3FD3; /* Purple background */
  color: white; /* White text */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Adjust font size */
  font-family: "Quicksand", sans-serif; /* Match site font */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer */
  transition: all 0.3s ease; /* Smooth hover transition */
}

.styled-button:hover {
  background-color: #4c32a8; /* Darker purple on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.styled-button:active {
  background-color: #392591; /* Even darker purple when clicked */
  transform: scale(0.95); /* Slightly shrink button on click */
}

/* App.css */
body {
  background-color: #3b3b3b; /* Replace with your desired color */
  margin: 0; /* Ensure no default browser margin */
}


